<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>SpringApp</title>
</head>
<body>
    <!-- Content for authenticated users -->
    <div sec:authorize="isAuthenticated()">
        <h1 th:inline="text">Welcome, [[${#authentication.name}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <!-- Content for anonymous users -->
    <div sec:authorize="isAnonymous()">
        <h1>Welcome to SpringApp!</h1>
        <p><a th:href="@{/login}">Login</a></p>
        <p>or</p>
        <p>Click <a th:href="@{/signup}">here</a> to register.</p>
    </div>
</body>
</html>