<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{base :: head}">
    <title>Parks</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <div th:replace="~{base :: navbar}"></div>

    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- iterate over parks -->
                <div class="col" th:each="park : ${parks}">
                    <a th:href="@{/schedule(parkId=${park.id})}">
                        <div class="card h-100">
                            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2021/09/08/18/36/park-bench-6607626_640.jpg" alt="Park image">
                            <div class="card-body">
                                <h5 class="card-title text-center" th:text="${park.name}">Park Name</h5>
                                <p class="card-text text-center" th:text="${park.address}">Park Address</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-auto" th:replace="~{base :: footer}"></div>
</body>
</html>