<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{base :: head}">
    <title>Parks</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <div th:replace="~{base :: navbar}"></div>

    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- iterate over parks -->
                <div class="col" th:each="park : ${parks}">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${park.name}">Park Name</h5>
                            <p class="card-text" th:text="${park.address}">Park Address</p>
                        </div>
                        <div class="card-footer">
                            <a th:href="@{/schedule(parkId=${park.id})}" class="btn btn-primary">Reserve</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-auto" th:replace="~{base :: footer}"></div>
</body>
</html>